.welcomeSection {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 0 1rem;
}

.h7 {
  display: block;
  font-size: 0.55em;
  font-weight: bold;
}

.h8 {
  display: block;
  font-size: 0.45em;
  font-weight: bold;
}

.h9 {
  display: block;
  font-size: 0.37em;
  font-weight: bold;
}

.h10 {
  display: block;
  font-size: 0.3em;
  font-weight: bold;
}

.h11 {
  display: block;
  font-size: 0.25em;
  font-weight: bold;
}

.h12 {
  display: block;
  font-size: 0.2em;
  font-weight: bold;
}

.h13 {
  display: block;
  font-size: 0.16em;
  font-weight: bold;
}

.h14 {
  display: block;
  font-size: 0.13em;
  font-weight: bold;
}

.h15 {
  display: block;
  font-size: 0.1em;
  font-weight: bold;
}

.h16 {
  display: block;
  font-size: 0.08em;
  font-weight: bold;
}

.h17 {
  display: block;
  font-size: 0.06em;
  font-weight: bold;
}

.h18 {
  display: block;
  font-size: 0.045em;
  font-weight: bold;
}

.h19 {
  display: block;
  font-size: 0.025em;
  font-weight: bold;
}

.h20 {
  display: block;
  font-size: 0.01em;
  font-weight: bold;
}

.h21 {
  display: block;
  font-size: 0;
  font-weight: bold;
}

.regularButton {
  margin: 0 1rem;
  padding: 0 0.3rem;
}

.regularButton:hover {
  cursor: pointer;
}
