.cardContent:hover {
  cursor: pointer;
  .productDesc {
    text-decoration: underline;
  }
}

.imgContainer {
  width: 300px;
  height: 300px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDesc {
  /* height: 2lh; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.cartControls {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  button:hover {
    cursor: pointer;
  }
  button {
    width: fit-content;
  }
}

.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 36px !important;
  height: 36px;
  border-radius: 50%;
}

.quantityControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
  }
}

.regularButton {
  padding: 0 0.3rem;
}
