/* .iconContainer { */
/*   display: block; */
/* } */

.navIcon {
  fill: #9ca3af;
  height: auto;
  position: relative;
  display: block;
}

.navIcon:hover {
  fill: #111827;
}

.active {
  fill: #111827;
}

.cartCounter {
  width: 24px;
  height: 24px;
  color: black;
  position: absolute;
  top: 4px;
  right: 6px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}
